<ion-header>
  <ion-toolbar>
    <ion-title>FIFO</ion-title>
    <ion-button type='submit' (click)= 'this.kernel.addProcess(this.menuservice.menu.numeroProcesso + 1);' >Adicionar Processo </ion-button>
    <ion-button type='submit' (click)= 'startTimer()' >start </ion-button>
  <ion-button type='submit' (click)= 'pauseTimer()' >pause </ion-button>

<div>TIMER : {{time}}</div>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="left">
  <div>
    <h1>Core</h1>
    <div style="padding: 5px;" (click)='clickMoveFinishProcessCore(processoNoNucleo)' (click)='print(processoNoNucleo)' *ngFor= "let processoNoNucleo of this.processador.cores" >
    <!-- <button style="padding: 5px;" (click)='print(processoNoNucleo)' *ngFor= "let processoNoNucleo of this.processador.cores" > -->
      <div class='borderMyButton'>
        ID : {{processoNoNucleo.process_id}}
        Tempo Corrido : {{processoNoNucleo.remaining_time}}
        Stado : {{processoNoNucleo.state}}
        Tempo total : {{processoNoNucleo.total_time}}
       
        <!-- adicionando barra de progress -->
        <progress [value]="processoNoNucleo.remaining_time" [max]='processoNoNucleo.total_time'></progress>
      </div>
      <br>
    </div>
  </div>

  <div>
    <h1>Processos</h1>
    <div class="button button--outline" (click)='cliclMoveFinishProcessFila(processoNaFila)' (click)='print(processoNaFila)' *ngFor= "let processoNaFila of this.kernel.processo" >
      <div>
        ID : {{processoNaFila.process_id}}
        Tempo Corrido: {{processoNaFila.remaining_time}}
        Stado : {{processoNaFila.state}}
        Tempo total: {{processoNaFila.total_time}}

        <!-- adicionando barra de progress -->
        <progress [value]="processoNaFila.remaining_time" [max]='processoNaFila.total_time'></progress>
       
      </div>
    </div>
  </div>

  <div>
    <h1>Processos Finalizados</h1>
    <div class="button button--outline" *ngFor= "let processoFinish of this.processador.terminated" >
      <div>
        ID : {{processoFinish.process_id}}
        Tempo Corrido: {{processoFinish.remaining_time}}
        Stado : {{processoFinish.state}}
        Tempo total: {{processoFinish.total_time}}  
      </div>
    </div>
  </div>

  <button (click)=teste() > TESTE </button>



  <!-- <ion-button type='submit' (click)= 'startTimer()' >start </ion-button>
  <ion-button type='submit' (click)= 'pauseTimer()' >pause </ion-button>

<div>{{time}}</div>
  <ion-button type='submit' (click)= 'this.kernel.addProcess(this.menuservice.menu.numeroProcesso + 1);' >Adicionar Processo </ion-button> -->
</div>


<div id="right">
  <div>
    <h1>Memoria</h1>
    <div style="padding: 5px;" *ngFor= "let processoNamemoria of this.processador.cores; index as i" >
    <!-- <button style="padding: 5px;" (click)='print(processoNoNucleo)' *ngFor= "let processoNoNucleo of this.processador.cores" > -->
      <div class='borderMyButton'>
        ID : {{processoNamemoria.blocoID}}
        Tamanho Total : {{processoNamemoria.tamanhoTotal}}
      </div>
      <br>
    </div>
    <!-- adicionando barra de progress -->
    memoria total dos Processos : {{memoriaProcessosTotal}}
    <br>
    memoria total processador : {{this.menuservice.menu.total_memory}}
        <progress class="progress-bar w-75" role="progressbar" [value]="memoriaProcessosTotal" [max]='this.menuservice.menu.total_memory'></progress>
        <br>  
        <span>{{this.memoryManagerService.porcentMemoria(this.menuservice.menu.total_memory,this.memoriaProcessosTotal)}} %</span>
      </div>


      <!-- array de memoria -->
      <div *ngFor= "let blocoDeMemoria of this.memoryManagerService.memoria" >
        
        <span id="vazio"> ID: {{blocoDeMemoria.blocoID}} | Tamanho: {{blocoDeMemoria.tamanhoTotal}}</span>

      </div>   

</div>

</ion-content>
