<ion-header>
  <ion-toolbar>
    <ion-title>inputs</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Number type input -->
<ion-content fullscreen>

  <form [formGroup]="formgroup" (ngSubmit)="start()" >
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Numero de Cores (1 a 64)</ion-label>
        <ion-input type = "number"
          formControlName='core'
          ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Processos inicias</ion-label>
        <ion-input 
          type = "number"
          formControlName='numeroProcesso'
          ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Escalonamento: </ion-label>
        <ion-select formControlName='escalonador' (ionChange)="switchEscalonador($event)" interface="popover">
          <ion-select-option value="fifo">FIFO</ion-select-option>
          <ion-select-option value="sjf">SJF</ion-select-option>
          <ion-select-option value="roundRobin">Round Robin</ion-select-option>
          
        </ion-select>
      </ion-item>
      <ion-item *ngIf="formgroup.controls.quantum" >
        <ion-label position="floating">Quantum</ion-label>
        <ion-input 
          type = "number"
          formControlName='quantum'
          ></ion-input>
      </ion-item>
      
    </ion-list>

    <div class="ion-padding">
      <ion-button type='submit' >Start</ion-button>
    </div>
    
  </form>
</ion-content>
